<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="shortcut icon", href="https://www.technoscore.com/images/services/node-js-icon.png", type="image/x-icon")
        link(rel="stylesheet", href="/css/main.css")
        block style
    body
       header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li
                        a(href="/" , class=(path === '/' ? 'active' : '')) Shop
                    li 
                        a(href="/admin/add-product" , class=(path === '/admin/add-product' ? 'active' : '')) Add Product
        
            block content